<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/views/styles.css">
<body>
    <form action="http://localhost:3200/weather" method="post">
    <div class="div_outer" style="height: 615px;border:1px solid black;background-color:aquamarine;">
    <h1 class="head1">Weather-Application</h1> 
    <!-- <div class="div1">
     <br>
     <h1 class="h1">Temperature</h1> -->
     <input type="search" placeholder="Enter the city name" name="search" value="<%=search%>">
     
     <button type="submit">Search</button>
     <br>
     
      <div class="div2">
        <div class="img">
            <img src=<%=img_url%>  height="150px">
        </div>
        <div class="txt">
        <%=location%> <%=temp%>
        </div>
        
    </div>

    <!-- </div>     -->
    </div>
    </form>
</body>
</html>